---
layout: default
---
<div>
    <div class="home-body-wrapper mt-5 mb-3">
        <div class="home-main-content container-xl px-4">
            <div>
                <div class="row">
                    <div class="col-12 col-lg-4 box-wrapper">
                        <div id="infobox">


                            <div id="contact-wrapper" class="box">
                                <div class="row">

                                    <div class="col-12">
                                        <div class="avatar-wrapper">
                                            <img id="avatar-img" src="{{ '/static/img/phong.webp' | relative_url }}"
                                                alt="{{ site.data.bio.name }}" width="160" height="160"
                                                fetchpriority="high" decoding="async">
                                        </div>

                                        <div class="my-2 text-center">
                                            <h1 class="my-name me-1">{{ site.data.bio.name }}</h1>
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <div id="info-box-table-app" class="font-size-small">
                                            <span class="fw-bold h6">Contact</span>
                                            {% include contact.html %}
                                        </div>
                                    </div>

                                    <div class="col-12 mt-3">
                                        <div class="font-size-9">
                                            <span class="fw-bold h6">About</span>
                                            <div class="bio-text">
                                                {{ site.data.bio.about | markdownify }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="text-center">
                                            <button onclick="toggleMode()" class="btn btn-sm" title="Switch mode"
                                                type="button">
                                                <span class="text-secondary" id="toggle-model-text">
                                                    {% include icon.html name="sun" class="sun-icon" %}
                                                    {% include icon.html name="moon" class="moon-icon" %}
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="d-md-none">
                            <hr>
                        </div>
                    </div>

                    <div class="col-12 col-lg-8 box-wrapper">

                        <div id="publications" class="box">
                            <div class="box-title">
                                <h2 class="title">Publications</h2>
                            </div>
                            <hr>

                            <div class="box-content">
                                <ul class="list-unstyled">
                                    {% for pub in site.data.publications %}
                                    {% include publication.html pub=pub %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                        <div id="services" class="box mt-5">
                            <div class="box-title">
                                <h2 class="title">Academic service</h2>
                            </div>

                            <hr>

                            <div class="box-content">
                                {% include services.html %}
                            </div>
                        </div>

                        <div id="teaching" class="box mt-5">
                            <div class="box-title">
                                <h2 class="title">Teaching</h2>
                            </div>

                            <hr>

                            <div class="box-content">
                                {% include teaching.html %}
                            </div>
                        </div>

                    </div>
                </div>

                <hr>

                <div id="footer" class="text-secondary font-size-9">
                    <span>Copyright © 2020-{{ 'now' | date: '%Y' }}</span>
                    <span>•</span>
                    <span>{{ site.data.bio.name }}</span>
                </div>

            </div>
        </div>
    </div>
</div>
