<table class="mt-1">
    <tbody>
        {%- for row in site.data.contact %}
        <tr>
            <td class="text-center">
                <span class="me-1">{% include icon.html name=row.icon icon_size=row.icon_size %}</span>
            </td>
            <td>
                {%- if row.email %}
                <span class="me-1">{{ row.email.user }}{% include icon.html name="at" icon_size="xs" %}{{ row.email.domain }}</span>
                {%- else %}
                <span class="me-1"><a href="{{ row.url }}" target="_blank" rel="noopener">{{ row.label }}</a></span>
                {%- endif %}
            </td>
        </tr>
        {%- endfor %}
    </tbody>
</table>
